.frame-padding{
    margin-left: -18%; 
    margin-right: 0px;  
    margin-bottom: 10px;
    margin-top: 10px;   
    
}

/* .bg{
    background-image: url('3.jpg');
} */
.main-border{
    border-color: rgb(9, 70, 9);
    }
.label-main{
font-size: 20px;
color:black;
font-weight: normal;
    }
.label-internal{
    font-size: 15px;
    color:black;
    font-weight: bold;
}
.hr1 {
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.buttion-align{
    
    position: absolute;
    right:    5px;
    top:   5px;
    width: 60px;
}
.bc-colr{
    background-color: #7bd8f1;
    height: 35px;
    width: 100%;
    border: none;
    color:rgb(148, 42, 42);
    text-align: left;
    text-decoration: bold;
    display: inline-block;
    font-size: 17px;
}
.input-modal{
    width: 267px;
    height: 40px;
    margin-bottom: 50px;
}
.submit-buttion-align{
    /* position: absolute; */
    left:    118px;
    top:   80px;
    width: 60px;
}

.newType-input{
    margin-bottom: 6px;
}
.buttion-save{
    /* position: absolute; */
    /* left: 340px; */
    /* top: 51px; */
    width: 77px;
    height: 34px;
    margin-left: -16px; 
    cursor: pointer;
    margin-top: 30px;
}
.edit-button{
    height: 34px;
    color:rgb(12, 247, 12);
    padding-left: 73%;
    cursor: pointer;
    /* background-color: rgb(17, 92, 17); */
}
.delete-button{
   height: 34px;
   color:red;
   float: right;
   cursor: pointer;
   padding-top: 3%;
   /* background-color: rgb(202, 50, 50); */
}
.btton-groupEditAndDelete{
   margin-left: -16px; 
   margin-bottom: 10px;

}
.preReque-styls{
    font-size: 15px;
    font-weight: bold;

}
.buttion-savePreReq{
    width: 77px;
    height: 34px;
    float: right;
}
.pointer {cursor: pointer;}
/* .action-button{
    padding: 5px;
}

.button-icon{
    color: white
}
@media only screen and (max-width: 1300px) {
   .pencil-button{
   margin-right:-25px;
   margin-top:-12px;
   
   
   }
} */